{% extends "blog/base.html" %}
{% block content %}
    
        <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
                <h1 class="text-3xl text-black pb-6">Announcements</h1>
                

                <!-- Content goes here! 😁 -->
                <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
                    <div>
                        <h2 class="text-gray-800 text-3xl font-semibold">Design Tools</h2>
                        <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores
                            deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a
                            veritatis pariatur minus consequuntur!</p>
                    </div>
                </div>
            </main>
    
            
        </div>
        
    </div>

{% endblock content %}
